@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #758bfd;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-title{
    font-family: Bebas Neue, 'Courier New', Courier;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

.msg, h2{
    font-family: Bebas Neue, 'Courier New', Courier;
}

.msg p{
    font-size: 18px;
    padding-bottom: 15px;
}

.msg {
    background-color: #758bfd;
    line-height: 1.5em;
    padding: 35px;
}

#logo_link{
    padding-top: 5px;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
    /*text-align: center;*/
    color: white;
}

nav a{
    text-align: center;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

#hero-img{
    width: 100%;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #f1f2f6;
    color: #758bfd;
}

header{
    background-color: #27187e;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    background-color: #758bfd;
}

.book, .join{
    background-color: #f1f2f6;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img{
    border: 10px solid #f1f2f6;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.book:hover, .join:hover{
    background-color: #aeb8fe;
}

footer{
    background-color: #758bfd;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 

footer .social img{
    padding-top: 15px;
}